body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

/* ... (Gaya CSS yang lain) ... */

/* Tampilan Perangkat Seluler */
@media (max-width: 768px) {
  .jumbotron {
    padding: 60px 15px;
  }

  .jumbotron .display-4 {
    font-size: 2.5rem;
  }

  .jumbotron .btn {
    font-size: 1.2rem;
  }

  .card {
    width: 150px;
    height: 200px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.212);
  }

  .card::before {
    bottom: 5px;
    left: 10px;
    font-size: 0.6em;
  }

  .card div {
    transform: none;
    background-color: #fff;
  }
}

/* ... (Gaya CSS yang lain) ... */

.jumbotron .display-4 {
  font-weight: 900;
}

.jumbotron .btn {
  font-weight: 600;
}

/* Animasi Love */
.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}

.loader div {
  top: 40px;
  left: 40px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: red;
  animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader div:after,
.loader div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: red;
}

.loader div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.loader div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes loader45 {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

/* From uiverse.io by @Vikikos */
.card {
  width: 190px;
  height: 254px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
  background: #fff;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  transition: all 0.4s;
}

.card::before {
  content: "---Si Cantik---";
  letter-spacing: 0.2em;
  position: absolute;
  bottom: 8px;
  left: 20px;
  color: rgb(51, 51, 51);
  font-size: 0.8em;
  font-weight: 700;
}

.card div {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
  cursor: pointer;
  z-index: 10;
  transition: all 0.4s;
  background-color: #fff;
}

.card:hover div {
  transform: translateY(-30px);
}

/* Rotate */
.hover06 figure img {
  -webkit-transform: rotate(-15deg) scale(1.4);
  transform: rotate(-15deg) scale(1.4);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover06 figure:hover img {
  -webkit-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
}

/* Text Typing */
.wrapper {
  height: auto;
  margin-top: 40px;
  padding-top: 400px;
  /*This part is important for centering*/
  display: solid;
  place-items: center;
}

.typing-demo {
  width: 20ch;
  animation: typing 2s steps(21), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Kembang Api */
@import "compass/css3";

canvas {
  display: block;
}
